<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Yvypora"
        tools:targetApi="31">
        <activity
            android:name="com.example.yvypora.ScreenClients.CheckoutActivity"
            android:exported="false"
            android:label="@string/title_activity_checkout"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.ShoppingCartActivity"
            android:exported="false"
            android:label="@string/title_activity_shopping_cart"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.DescriptionProducts"
            android:exported="false"
            android:label="@string/title_activity_description_products"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.AddAccount"
            android:exported="false"
            android:label="@string/title_activity_add_account"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.AddCardAcitivity"
            android:exported="false"
            android:label="@string/title_activity_add_pay_methods_acitivity"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.PaymentMethodsActivity"
            android:exported="false"
            android:label="@string/title_activity_payment_methods"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.AddAdressAcitivity"
            android:exported="false"
            android:label="@string/title_activity_add_adress_acitivity"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.AdressesActivity"
            android:exported="false"
            android:label="@string/title_activity_adresses"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.BuyHistory"
            android:exported="false"
            android:label="@string/title_activity_buy_history_acitivity"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.EditProfileSreen"
            android:exported="false"
            android:label="@string/title_activity_edit_profile_sreen"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".ScreenClients.FairsActivity"
            android:exported="false"
            android:label="@string/fair"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.ProfileClient"
            android:exported="false"
            android:label="@string/title_activity_profile_client"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.ScreenSearch"
            android:exported="false"
            android:label="@string/title_activity_screen_search"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".MarketerScreens.RegisterMarketer"
            android:exported="false"
            android:label="@string/title_activity_register_marketer"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.InicialScreen"
            android:exported="false"
            android:label="@string/title_activity_inicial_screen"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.MarketerScreens.InicialMarketerActivity"
            android:exported="false"
            android:label="@string/title_activity_inicial_screen_marketer"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.RegisterClient"
            android:exported="false"
            android:label="@string/title_activity_register_client"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".DecisionSreenActivity"
            android:exported="false"
            android:label="@string/title_activity_decision_sreen"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.FruitsResultActivity"
            android:exported="false"
            android:label="@string/fruits_result"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.VegetablesActivityActivity"
            android:exported="false"
            android:label="@string/vegetable"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.SpicesActivityActivity"
            android:exported="false"
            android:label="@string/spices"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name="com.example.yvypora.ScreenClients.OthersActivityActivity"
            android:exported="false"
            android:label="@string/spices"
            android:theme="@style/Theme.Yvypora" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Yvypora">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>